#p1
{
	color:darkgreen;
}
#p2
{
	padding:20px;
	border-spacing: 20px;
	padding-lest: 20px;
	color:blue;
}
a:#p1 hover
{
	color:yellow;
}

#cs1
{
	padding-left: 20px;
	padding-top: 60px;
}
#th1
{
	text-decoration:none;
	font-style: verdana;
}
#c1
{
	padding:0;
	text-decoration: none;
	
}
#im img
	{
		position:absolute;
		top: 1px;
		right:-260px;
	}

a
	{
		text-decoration: none;
	}
