<% include header %>
<h2 id="h2"> Please enter your Details</h2>
<form method="post" role="form" action="/new-entry">
<div class="form-group">
<label for="title">Title</label>
<input type="text" class="form-control" id="title" name="title" placeholder="Entry title" style="width: 300px;" required>
</div>
<div class="form-group">
<label for="mail">Mail id:</label>
<input type="mail" class="form-control" id="mail" name="mail" placeholder="Enter ur  mailid" style="width: 300px;" required>
</div>
<div class="form-group">
<label for=number>Mobile Number:</label>

<input type="number" class="form-control" id="number" name="number" placeholder="Enter you number" style="width: 300px;" required >
</div>
<div class="form-group">
<label for="content">Comment</label>
<textarea class="form-control" id="body" name="body" placeholder="Do comment for my guestbook" rows="3" style="width: 500px;" required></textarea>
</div>
<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-success">
</div>
</form>
<% include footer %>